*~
*.pyc
.pydevproject
.project
.ropeproject
*.swp
.idea*
*.db
.DS_Store
*.log
coverage.xml
htmlcov
.coverage
lib
include
bin
man
distribute-*
pep8.txt
nosetests.xml
build
dist
local
**/thirdlight.egg-info
